@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}
:root {
  line-height: 1.5;
  font-weight: 400;
  --back-color: #fafafa;
  --principal-color: #ffc93c;
  --secondatry-color: #3498db;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.container {
  display: flex;
  top: 0;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--secondatry-color);
  justify-content: space-around;
}

.messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.emoji-img {
  height: 5em;
}

.emoji-img + h1 {
  font-size: 2em;
  color: white;
  margin-left: 20px;
}

.container-principal {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 0;
  margin: 0;
  align-self: center;
  font-size: 1em;
  font-weight: 600;
  color: white;

  align-self: flex-start;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 3.5em;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  background-color: white;
}
.input-alone span {
  margin-left: 10px;
  font-size: 1em;
  height: 1.5em;
  overflow: hidden;
}
.container-input-password {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color {
  width: 100%;
  height: 1em;
  transition: background-color 0.3s ease;
}

.color p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  color: white;
}

.container-input-length {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-left: 5em;
}

.action-buttons-container {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  gap: 1em;
  width: 70%;
  padding-top: 1em;
}

.container-inputs h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 2em;
}
.borde {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
}

.button {
  color: #fff;
  background: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: transform 0.3 ease;
  transform-origin: center;
  &:hover {
    transform: scale(1.1);
  }
}

.regenerate,
.copy {
  width: 1.5em;
}

.rotated {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-360deg);
}

.real-button {
  background-color: var(--principal-color);
  border-radius: 10px;
  padding: 5px;
  border: 1px black solid;
  width: 50%;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}

.messages-container h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.checks-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  gap: 1em;
  align-items: flex-end;
  justify-content: center;
  padding: 1em;
  margin-bottom: 1em;
}

.checks-container p {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: white;
  outline: none;

  &:focus {
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
  }

  &:checked {
    background-color: var(--secondatry-color);
    border-color: white;
  }
}

.inputs-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.checks {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.checks div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-input-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}

.show-longitud {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: large;
  text-align: center;
}

.container-input-range button {
  background-color: var(--secondatry-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--principal-color);
  }
}

.input-alone {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: none;
  font-size: 1em;

  margin-left: 1em;
  width: 85%;
  outline: none;
}

.input-range {
  width: 100%;
  -webkit-appearance: none;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
  outline: none;
  transition: background 0.2s;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #3498db;
  border-radius: 50%;
  cursor: pointer;
}

.container-input-range button:active {
  background-color: #ff6b6b;
  transform: scale(1.1);
}

@media (max-width: 780px) {
  .inputs-control {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
  }

  .container-inputs h2 {
    margin-left: 0;
    text-align: center;
  }
  .container-input-length {
    margin-left: 0;
  }
  .checks-container {
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .checks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .checks div {
    flex-direction: row-reverse;
  }
}

@media (max-width: 370px) {
  .container-principal,
  .container-inputs {
    width: 90%;
  }
}

@media (max-height: 800px) and (max-width: 780px) {
  .container-inputs {
    height: 60%;
  }
}
